.job-title-icon {
    width: 30px;
    height: 30px;
    border: 2px solid #999;
    display: inline-block;
    border-radius: 4px;
    color:#fff;
    background-color: #ccc;
    text-align:center;
}
